div.s42998[role="styleWrap"] {
footer .mspfalogo {
    background-image: url(https://file.garden/YOVpTKX47HhECOuA/mspfa_bannerside.png);
}

/*div#content {
    width: 600px;
    padding: 0 75px;
}*/

div#content * { max-width: 100%; }

div#content img.major, 
div#content video.major, 
div#content iframe.major {
    margin: 0 -200px;
    max-width: 900px;
}

iframe {
    width: 900px;
    height: 500px;
}

div#content blockquote {
    margin: 0;
    padding: 0 1em;
}

img[src$="typing.png"],
img[src$="raised-fist.png"],
img[src$="sweat-droplets.png"],
blockquote span img { height: 1em; }

div#content blockquote, table.container.alt2 blockquote {
    border: 4px solid #323232;
    background: black;
    color: white;
    font-family: "Source Code Pro","Courier New",monospace;
    font-weight: bold;
    font-size: 16px;

    max-width: 42em;
    margin: auto;
    text-align: left;
}

/* Darkening */
#main { background-color: #000; }
body { 
    background-color: #101010;
    color: #EEE;
}
#slide { background-color: #101010; }
.mspfalogo { 
    border-right: #323232;
    background-color: #101010;
}
#info > span > .spoiler.open { background-color: #101010; }
a { color: cornflowerblue; }
a:visited { color: mediumpurple; }
a:active, a:target, a:focus { color: indianred; }
}
